html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
}

p {
    font-size: 0.9em;
    color: #777;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}


/*--/banner --*/

.main-banner {
    background-image: url(../images/banner.jpg);
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 34.8em;
}

.header {
    position: absolute;
    padding: 10px auto;
    z-index: 2;
    font-size: 25px
}

.center-card {
    margin: auto;
}


/*-- slide --*/

@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 90000%;
    }
}


/*--//banner --*/