body {
    background-color: rgb(255, 135, 22)
}
.logo {
    height: 200px;
}
.logo img{
    max-height: 200px;
    width: auto;
}
.p-0{padding: 0} .p-2{padding: 2px}
.m-0{margin: 0} .m-2{margin: 2px} .m-4{margin: 4px;}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    margin-right: 150px;
    margin-left: 150px;
  }
.menubar {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.menubar a {
    padding: 2px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(240, 222, 195)
}
.menubar a:hover {
    background-color: rgb(196, 142, 107);
    text-decoration: none;
}
.menubar a::after {
    content: " |";
}
.menubar a:last-child::after {
    content: " ";
}
.whiteboard {
    background-color: #fff;
    border: 1px solid #000;
    margin-bottom: 10px;
}
.recorded {
    border: 2px solid #000;
}
.recorded td {
    font-size: 15px;
    padding: 8px;
    border: 1px solid #000;
}
.recorded th {
    padding: 8px;
    background-color: #000;
    color: #fff;
    border: 1px solid rgb(146, 141, 141);
}